---
layout: default
---
<article class="post">

  {% comment %}
  Currently running events get:   Current & Upcoming > Season
  Past events get:                Past Shows > Season
  Currently running seasons get:  Current & Upcoming
  Past seasons get:               Past Shows
  {% endcomment %}

  {% if page.collection == "events" or page.collection == "seasons" %}
  {% assign season = site.seasons | where: "season_id", page.season_id | first %}

  {% assign base_events = site.events | where_exp: "item", "item.path contains 'index'" %}
  {% assign sorted_base_events = base_events | sort: "closed_datetime" %}

  {% for event in sorted_base_events %}
  {% if page.event_id == event.event_id %}
  {% assign prevIdx = forloop.index0 | minus: 1 %}
  {% assign nextIdx = forloop.index0 | plus: 1 %}
  {% assign prevEvent = sorted_base_events[prevIdx] %}
  {% assign nextEvent = sorted_base_events[nextIdx] %}
  {% endif %}
  {% endfor %}

  <nav>
    <ol class="unstyled-list">
      {% if site.time < page.closed_datetime %}
      <li><a href="{{ 'upcoming' | relative_url }}">Current & Upcoming</a></li>
      {% else %}
      <li><a href="{{ 'past' | relative_url }}">Past Shows</a></li>
      {% endif %}
      {% if page.event_id %}
      <li><a href="{{ season.url | relative_url }}">{{ season.title }}</a></li>
      {% endif %}
      {% if prevEvent and prevIdx >= 0 %}
      <li><a href="{{ prevEvent.url | relative_url }}">&larr; {{ prevEvent.title }}</a></li>
      {% endif %}
      {% if nextEvent %}
      <li><a href="{{ nextEvent.url | relative_url }}">{{ nextEvent.title }} &rarr;</a></li>
      {% endif %}
    </ol>
  </nav>
  {% endif %}

  <header class="post-header">
    <h1 class="post-title"><a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a></h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
