---
layout: page
---
{{ content }}

{% assign season_events = site.events | where: "season_id", page.season_id %}

{% assign has_upcoming_events = false %}
{% assign has_past_events = false %}
{% for event in season_events %}
{% if site.time < event.closed_datetime %}
{% assign has_upcoming_events = true %}
{% else %}
{% assign has_past_events = true %}
{% endif %}
{% endfor %}

{% if has_upcoming_events %}
<h2>Upcoming Events</h2>
<ul>
  {% for season_event in season_events %}
  {% if site.time < season_event.closed_datetime %}
  <li>
      <a href="{{ season_event.url | relative_url }}">{{ season_event.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}

{% if has_past_events %}
<h2>{% if has_upcoming_events %}Past Events{% else %}Events{% endif %}</h2>
<ul>
  {% for season_event in season_events %}
  {% if (site.time > season_event.closed_datetime or season_event.closed_datetime == nil) and season_event.page contains "index" %}
  <li>
      <a href="{{ season_event.url | relative_url }}">{{ season_event.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endif %}
